<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/style/main.css">
    <!-- OWL CSS -->
    <link rel="stylesheet" href="../resources/style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../resources/style/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="../resources/style/responsive.css">
    <title>NETFLIX CLONE</title>

</head>

<body>
    <!-- Cabeçalo -->
    <header>
        <div class="container">
            <h2 class="logo">NETFLIX</h2>
            <nav>
                <a href="#" class="href">Ínicio</a>
                <a href="#" class="href">Séries</a>
                <a href="#" class="href">Filmes</a>
                <a href="#" class="href">Documentários</a>
            </nav>
        </div>
    </header>

    <!-- Corpo -->
    <main>
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">STRANGE THINGS</h3>
                <p class="descricao">Quando um garoto desaparece, a cidade toda participa nas buscas. Mas o que
                    encontram são segredos,
                    forças sobrenaturais e uma menina.</p>
                <div class="botoes">
                    <button role="button" class="botao"><i class="fas fa-play"></i>ASSISTIR AGORA</button>
                    <button role="button" class="botao"><i class="fas fa-info-circle"></i>MAIS INFORMAÇÕES</button>
                </div>
            </div>

        </div>
    </main>

    <section>
        <div class="carrosel-filmes">
            <div class="owl-carousel owl-theme">
                <div class="item"><img class="box-filme" src="../resources/imgs/1.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/2.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/3.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/4.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/5.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/6.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/7.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/8.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/9.jpg"></div>
                <div class="item"><img class="box-filme" src="../resources/imgs/10.jpg"></div>
            </div>
        </div>
    </section>

</body>
<script src="https://kit.fontawesome.com/77fbd0bb01.js" crossorigin="anonymous"></script>
<script src="../resources/js/owl/jquery.min.js"></script>
<script src="../resources/js/owl/owl.carousel.min.js"></script>
<script src="../resources/js/setup.js"></script>

</html>